.slot_container {
  display: flex;
  gap: 1rem;
}

.slot_item {
  border-radius: 0.5rem;
  padding: 4px 8px;
  background: #1b3d02;
  color: white;
}
.slot_item_2 {
  border-radius: 0.5rem;
  padding: 4px 8px;
  background: #88bc2c;
  color: white;
}

.date_container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.single_date {
  border-radius: 2px;
  background: white;
  padding: 2px;
  display: grid;
  gap: 4px;
}
