* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #464545;
}

.h1-title {
  font-family: "Arial Black";
  font-weight: 900;
  letter-spacing: 0;
  font-size: 55px;
}

@media (max-width: 600px) {
  .h1-title {
    font-size: 40px;
  }
  .display-4 {
    font-size: 40px;
  }
  .subtitle-4 {
    font-size: 15px;
  }
}

.h2-title {
  font-family: "Arial Black";
  font-size: 45px;
  font-weight: 800;
}

@media (max-width: 600px) {
  .h2-title {
    font-size: 30px;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* sidebar reserve form */

.mobile-btn-reserve {
  display: none;
}

@media (max-width: 1120px) {
  .sidebar {
    display: none;
  }

  .mobile-btn-reserve {
    display: block;
    position: fixed;
    margin: 0 auto;
    /* display: block; */
    right: 25%;
    left: 25%;
    top: 90%;
    z-index: 9999;
    text-align: center;
    /* n */
    background: #88bc2c;
    color: white;
    border: 1px solid #88bc2c;
    border-radius: 10px;
    padding: 10px;
    width: 140px;
    margin: 0 auto;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
  }

  .mobile-btn-reserve:hover {
    background: white;
    color: #88bc2c;
  }

  .m-checkout {
    display: none;
  }
}

@media (min-width: 1120px) {
  .sidebar {
    color: #464545;
    right: 100px;
    top: 170px !important;
    bottom: 100px;
    position: fixed;
    padding: 10px;
    height: 370px;
    overflow: auto;
    /* width: 300px; */
    /* background: rgb(255, 255, 255); */
    width: auto !important;
    /* background: #f4f4f4 !important; */
    z-index: 999;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.53);
    transition: all 0.3s;
  }

  #sidebar {
    height: 460px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* height: max-content; */
  }

  .sidebar:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.53);
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.book-title {
  font-size: 20px;
  font-weight: 600;
  color: #464545;
}

.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.t-title {
  font-size: 13px;
  font-weight: normal;
  width: 100%;
  margin: 0;
}

.horizontalLine {
  background: #88bc2c;
  border: 3px solid #88bc2c;
  border-radius: 50px;
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}

.horizontalLineXl {
  background: #88bc2c;
  border: 3px solid #88bc2c;
  border-radius: 50px;
  width: 25%;
  height: 10px;
  margin: auto;
  margin-bottom: 10px;
}

.col-title {
  color: #797979;
  font-weight: 800;
}

/* review stars */

/* @media (min-width: 1200px) {
  .square {
    position: absolute;
  }

  .square-2 {
    width: 100px;
    height: 100px;
    background: url("/images/bike70-mirrored.webp") no-repeat;
    top: 1940px;
    z-index: 10;
  }

  .square-1 {
    width: 100px;
    height: 100px;
    background: url("/images/bike70.webp") no-repeat;
    left: 400px;
    top: 1595px;
    z-index: 20;
  }
}

.square {
  position: absolute;
}

.square-3, .square-4, .square-5 {
  display: none;
}

@media (max-width: 600px) {
  .square-4 {
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/bike70-mirrored.webp") no-repeat;
    top: 2535px;
    z-index: 10;
  }

  .square-3 {
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/bike70.webp") no-repeat;
    top: 1900px;
    z-index: 20;
  }

  .square-5 {
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/bike70.webp") no-repeat;
    left: 0px;
    top: 3170px;
    z-index: 20;
  }
}

@media (max-width: 400px) {
  .square-4 {
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/bike70-mirrored.webp") no-repeat;
    top: 2600px;
    z-index: 10;
  }

  .square-3 {
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/bike70.webp") no-repeat;
    top: 1940px;
    z-index: 20;
  }

  .square-5 {
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/bike70.webp") no-repeat;
    left: 0px;
    top: 3250px;
    z-index: 20;
  }
} */

/* video background */

.video-background-holder {
  position: relative;
  /* background: url('../public/images/video-loading-screen.webp'); */
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

/* end video background */

/* image background */

.image-background-holder {
  position: relative;
  height: 65vh;
  width: 100%;
  overflow: hidden;
}

.image-background-holder img {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.image-background-content {
  position: relative;
  z-index: 2;
}

/* end image background */

@media (min-width: 992px) {
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 35px;
  }
}

/* prev next icons fill color (blog posts section) */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(128, 191, 47, 1)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(128, 191, 47, 1)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.active-tab {
  outline: none !important;
  color: white !important;
  background: #88bc2c !important;
}

.absoluteBtn {
  right: -426px;
  position: absolute;
  bottom: -66px;
}

@media (max-width: 991px) {
  .absoluteBtn {
    right: 15px;
    bottom: -350px;
  }
}

@media (max-width: 400px) {
  .absoluteBtn {
    bottom: -415px;
  }
}

.paymentScreen {
  width: 100%;
  height: 355px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.attractions {
  display: none;
}

.attractions-m {
  display: block;
}

@media (min-width: 768px) {
  .attractions {
    display: block;
  }
  .attractions-m {
    display: none;
  }
}

.toursMenu {
  color: black;
}

.contact-section {
  padding-top: 150px;
}

@media (max-width: 768px) {
  .contact-section {
    padding-top: 50px;
  }
}

.aboutContainer {
  min-height: 585px;
  background: #f9f9f8;
  color: #707171;
}

.datepicker {
  padding: 5px 12px 0 12px;
  border: 1px solid #88bc2c;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(207, 242, 173, 0.3);
  -moz-box-shadow: 0px 0px 5px 5px rgba(207, 242, 173, 0.3);
  box-shadow: 0px 0px 5px 5px rgba(207, 242, 173, 0.3);
  transition: 0.5s all;
}

.datepicker > div > div > div > label {
  cursor: pointer;
}

.datepicker:hover {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(198, 240, 158, 0.3);
  -moz-box-shadow: 0px 0px 5px 5px rgba(198, 240, 158, 0.3);
  box-shadow: 0px 0px 5px 5px rgba(198, 240, 158, 0.3);
  background: #d7e8ba;
}

.gallerySection {
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .gallerySection {
    padding-bottom: 10px;
  }
}

.text-bold {
  font-weight: 900;
}

.text-dark-green {
  color: #88bc2c;
}
.cursor-pointer {
  cursor: pointer;
}

.text-normal {
  font-size: 1.4rem;
}
.book-now-btn {
  text-align: center;
  color: white !important;
  background: #88bc2c !important;
  border: 1px solid #88bc2c !important;
  /* background: #1b3d02 !important;
  border: 1px solid #1b3d02 !important; */
  border-radius: 5rem !important;
  padding: 10px !important;
  /* width: 140px !important; */
  margin: 0 auto !important;
  font-weight: 700 !important;
  transition: 0.2s !important;
  cursor: pointer !important;
}

/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
}

/* Handle */

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(223, 222, 222);
  height: 20px;
  border-radius: 10px;
  max-height: 20px;
  margin-top: 40%;
  margin-bottom: 40%;
}

.whatsAppButton{
  height: 4rem;
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  margin: 1rem;
}

.PhoneInputInput{
  border-radius: 20px !important;
  background-color: rgb(244, 244, 244) !important;
  border: medium none !important;
}


/* Date Picker */

.react-datepicker {

  border: none !important;
  justify-content: center;
  
}

.react-datepicker__aria-live {
  display: none;
}

.react-datepicker__navigation{
  align-items: baseline !important;
}

.react-datepicker__day_span {
  border-radius: 50% !important;
}